* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  padding: 0%;
  padding-bottom: 0%;
  margin-left: 0%;
  margin-top: 0%;
  margin-right: 15%;

  box-sizing: content-box;
}
header {
  text-align: center;

  height: 3%;
  width: 100%;
  background-color: tomato;

  position: fixed;
  margin-top: -8%;
}
.wrapper {
  display: grid;
  grid-template-columns: 1fr (repeat(12));
  grid-template-rows: 1fr (repeat(4));
  box-sizing: border-box;
  border: 0.6vh solid black;
  width: 100%;
  height: 600vh;
  /*background-image: url("/brickPattern.svg");*/
  padding: 5%;
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
}
.one {
  grid-column: 1 / 12;
  grid-row: 1 / 1 line;

  box-sizing: border-box;
  border: 2px solid black;
  /*background-image: url("/SVGs/platform1SVG.svg");*/
  box-sizing: border-box;
  border: 1vh dashed black;
  border-radius: 1vh;
  height: 80%;
  width: 100%;
}
.two {
  grid-column: 1 / 12;
  grid-row: 2 / 2 line;

  background-color: white;
  border: 1vh dashed black;
  border-radius: 1vh;
  height: 80%;
  width: 100%;
  padding-top: 3%;
}

.three {
  grid-column: 1 / 12;
  grid-row: 3 / 3 line;

  background-color: white;
  border: 1vh dashed black;
  border-radius: 1vh;
  height: 85%;
  width: 90%;
  padding-top: 3%;
}

.four {
  grid-column: 1 / 12;
  grid-row: 4 / 4 line;

  background-color: white;
  border: 1vh dashed black;
  border-radius: 1vh;
  height: 85%;
  width: 100%;
}
#txt1 {
  position: relative;
  width: 21;
  height: 100;

  background-position-x: 20%;
  background-position-y: 14%;
  margin-left: 0%;
  background-color: aqua;
}

.hide {
  display: none;
  z-index: 3;
}

.iconsDiv:hover + .hide {
  display: block;
  z-index: 3;
}
a {
  color: white;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3%;
  background-color: tomato;
  color: rgb(15, 14, 14);
  text-align: center;
  opacity: 80%;
}
@media only screen and (max-width: 360px) {
  /*android*/
  header {
    height: 2%;
  }
  footer {
    font-size: 12px;
  }

  .wrapper {
    width: 100%;
    height: 2560px;
    /*height: 2560px;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    background-size: 20%;*/
  }
  .one {
    height: 90%;
  }
  .two {
    height: 90%;
  }
  .three {
    height: 90%;
  }
  .four {
    height: 90%;
  }
  .frameRen1 {
    width: 50%;
    height: 50%;
    margin-left: 50%;
  }
  #frameRect {
    margin-top: 80%;
    margin-left: 10%;
    position: relative;
  }
  #txt1 {
    position: fixed;
    margin-top: 100%s;
  }
  #renata1 {
    position: absolute;
    width: 70%;
    height: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: scale(-50%, -50%);

    contain: size;
  }

  #platform1SVG {
    margin-top: -1%;
    z-index: -1;
  }
  #controllerFrame {
    width: 100%;
    height: 100%;
    margin-top: 0%;

    z-index: -1;
  }

  #scrum {
    size: 60%;
    margin-top: -20%;
  }
}

@media only screen and (max-width: 937px) {
  /*Chrome*/
}
@media only screen and (min-width: 969px) {
  /*Edge*/
}

@media only screen and (min-width: 927px) {
  /*mozila*/
}
@media only screen and (min-width: 992px) {
}
